body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
                 "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
                 sans-serif; 
    font-weight: 300;
}

code {
    font-family: 'Consolas', 'Lucida Console', 'Courier New', 'monospace';
}

a {
    text-decoration: none;
    font-color: #0077cc;
}
a:hover {
    text-decoration: underline;
}

hr {
    border: 0px none transparent;
    border-top: border-top: 1px solid #e8e8e8;
}

h5 {
    font-size: 1.2em;
}

pre {
    padding: 1em 1.6em 1em 1.2em;
    vertical-align: top;
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    border-width: 1px 1px 1px 6px;
    margin: -0.5em 0 1.1em;
    overflow-x: auto;
    line-height: 1.4;
}

/* Highlighting */
.highlight .kd, .highlight .k, .highlight .kc {
    color: #4c81c9;
    font-weight: bold;
}

.highlight .s2 {
    color: #BE7306;
}

.highlight .c1 {
    color: #738191;
    font-style: italic ;
}

.highlight .nb {
    color: #4c81c9;
}

.highlight .nf {
    color: #0000FF;
}

.highlight .nv, .highlight .vi {
    color: #19177C;
}
